# Ignorar todos los directorios target en cualquier subcarpeta (proyectos Maven)
**/target/

# Archivos de construcción Java
*.class

# Logs
*.log

# Configuración de IDEs (IntelliJ, Eclipse, NetBeans)
*.iml
.idea/
*.ipr
*.iws
.project
.classpath
.settings/
.nb-configuration.xml
.nb-gradle.xml

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales y de respaldo
*.tmp
*~